'.CodeMirror.vim-mode.insert-mode textarea':
  'ctrl-[': 'vim:exit-insert-mode'
  'j k': 'vim:exit-insert-mode'
  'k j': 'vim:exit-insert-mode'
'.CodeMirror.vim-mode.replace-mode textarea':
  'ctrl-[': 'vim:exit-insert-mode'
  'j k': 'vim:exit-insert-mode'
  'k j': 'vim:exit-insert-mode'
'.CodeMirror textarea':
  'alt-]': 'editor:indent-more'
  'alt-[': 'editor:indent-less'
